.field{
    display : 'flex';
  
}

.field-container {
    background-image: url('/public/images/backgroundImage.png');
    background-size: cover;
    background-position: center; /* 이미지의 중심을 div의 중심에 맞추기 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    position: relative;
    width: 400px;
    height: 600px;
    overflow:hidden
}